/* chevron-down icon in the header */
.chevron {
    font-size: 17.5px;
    color: white;
    animation: bounce 2s ease-in-out infinite; /* Apply the animation */
    color: white; align-content: end; font-size: 17.5px;
  }
  
  @keyframes bounce {
      0% {
          transform: translateY(0); /* Start at the normal position */
      }
      50% {
          transform: translateY(20px); /* Move up by 5px */
      }
      100% {
          transform: translateY(0); /* End back at the normal position */
      }
  }