#event-title-date {
    margin: 43px 0px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #2E2B3A; */
  background-color: white;
  color: #FFFFFF;
  font-family: 'Inria Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  height: 100px;
  background-color: #FFFFFF;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #2E2B3A;
  text-decoration: none;
}

.logo:hover {
  color: #454545;
}

header div {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: #2E2B3A;
  padding-inline: 5px;
  margin-right: 38px;
}

header nav a.active {
  color: #E52A6A;
}

header nav a:hover {
  color: #933556
}

header nav .active:hover {
  color: #E52A6A;
}

header .button {
  margin-left: 35px;
}

main {
  text-align: center;
  padding: 28vh 28px;
}

.countdown {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.countdown .time-box {
  background-color: rgba(255, 255, 255, 0.09);
  height: 140px;
  width: 140px;
  /* border-radius: 5px; */
  text-align: center; 
  align-content: center;
  justify-items: center;
  border: 1px solid #5C5E65;
}

.countdown .time-box span {
  display: block;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}

.countdown .time-box label {
  font-size: 22.3px;
}

.event-title {
  font-size: 65px;
  font-weight: bold;
}

.event-date {
  margin-bottom: 11px;
  font-size: 28px;
  padding-top: 20px;
  font-weight: bold;
  color: #FFF;
}

.button {
  background-color: #E52A6A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  /* some margin already exists on the left of this element (from the the nav item) */
  font-size: 19px;
  padding-block: 19px;
  padding-inline: 30px;
}

.button:hover {
  background-color: #da3e74;
}

/* .buttons {
   margin-top: 45px; 
} */

.buttons a {
  display: inline-block;
  /* padding: 22px 43px; */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  width: 190px;
  padding-inline: 0px;
  align-content: center;
  text-align: center;
}

.buttons .register {
  background-color: #E52A6A;
  color: #FFFFFF;
  margin-right: 8px;
}

.buttons .learn-more {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #5C5E65;
}


.header-parent {
    display: flex;
    background-image: url('../assets/events/freashmanorientation.jpg');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat;
    position: relative;
}

.header-parent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0); /* Semi-transparent overlay */
    backdrop-filter: blur(15px); /* Blurs the background image */
    z-index: 1;
}

.header-main-content {
    width: 68%;
    justify-content: flex-start;
    text-align: left;
    position: relative;
    z-index: 2; /* Ensures content is above the blurred background */
}