body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    padding-inline: 0px;
    width: 100%;
    height: 100px;
    position: relative; /* Default position */
    top: 0;
    background-color: transparent;
    left: 0;
    z-index: 10; /* Make sure it's above the content */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.logo {
    margin-left: 30px
}

main {
    padding: 0px;
    padding-block: 100px;
    overflow: hidden;
    margin: 0px;
    margin-top: 50px; /* Space for header */
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    z-index: -1;
    transition: margin-top 0.3s ease, height 0.5s ease; /* Smooth transition for height */
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main {
    align-items:normal;
    padding: 0px;
    height: 700px; /* Initial height */
}


/* When the header becomes fixed, move the main down */
.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    height: 100px;
    /* reset */
    /* height: 100px;
    padding: 0px; */
}

.addCoverImg {
    background-image: url('../assets/events/freashmanorientation.jpg');
    background-size: cover;
    /* background-position: bottom; */
    /* height: 100px; */
}

/* Animating the shrinking of the main element on scroll */
.shrinking {
    height: 200px; /* Target smaller height when scrolling down */
}

#main img {
    width: 100%;

}

.navbar {
    display: flex;
    justify-content: space-between;;
    width: 100%;
}

.removePadding {
    padding: 0px;
}


.centered-text {
    /* height: inherit; */
    background-image: url("../assets/events/freashmanorientation.jpg");
    background-size: cover;
    padding-top: 30vh;
    background-color: rgba(0,0,0, .35);
}


/* Event Detials Content styling */

.event-details {
    display: flex
}

.event-details-container {
    /* (4vh*100vh/15vh) */
    height: 21vh;
    padding-top: 3vh;
    margin-bottom: 40px;
    /* Width of the Event details container */
    width: 225px
    /* padding-inline: 3%; */ 
}

.right-border {
    border-right: 1.85px solid #EBEBEB;
}

/* event detials icon */
.event-details-container .icon {
    font-size: 47px;
    color: #E52A6A;
    font-weight: 300;
    margin-bottom: 25px;
    height: 45px
}

/* event details title */
.event-details-container h4 {
    color: #E52A6A;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
}

.event-details-container hr {
    background-color: #ebebeb;
    border: 0px;
    height: 2px;
    width: 35px;
    margin-bottom: 20px;
}

/* Event detail */
.event-details-container p {
    font-size: 18x;
    color: black;
    font-weight: 400;
    margin: 0px;
    padding-inline: 25px;
    font-weight: 300;
}

.about-event-section {
    padding-inline: 23%;
    margin-bottom: 20px;
}

#about-event {
   font-size: 34px;
}

.centered-text > .title-header {
    font-size: 65px;
}
.centered-text .tiny-message-header {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding-inline: 40px;
    margin-top: 45px;
    margin-bottom: 70px;
}

.button {
    padding-block: 12.5px;
    padding-inline: 68px;
    border-radius: 30px;
    font-size: 15.5px;
    font-weight: 400;
}

#learn-more-header {
    /* background-color: blue; */
    position: absolute;
    height: 10vh;
    margin-top: 9vh;
    align-content: center;
    width: 100%
}